@font-face{
    font-family: 'Montserrat-Regular';
    font-weight: 400;
    font-style: normal;   
    src: local('Montserrat-Regular'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-display: swap;
}
@font-face{
    font-family: 'Montserrat-Bold';
    font-weight: 700;
    font-style: normal;   
    src: local('Montserrat-Bold'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-display: swap;
}